<div class="col-md-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.title}}" placeholder="title" name="title">
        <label for="floatingInput">Title</label>
    </div>
</div>
<div class="col-md-12">
    <div class="form-floating mb-3">
        <textarea type="text" class="form-control" id="content" placeholder="Write a comment!" name="content" style="height: 200px">{{this.content}}</textarea>
        <label for="floatingInput">Content</label>
    </div>
</div>
<div class="col-md-3">
    <div class="">
        <input type="checkbox" name="private">
        <label for="chackbox">Private</label>

    </div>
</div>

<div class="col-12 d-grid"></div>
<button class="btn btn-primary" type="submit">Submit</button>
